<div class="ontainer-fluid mx-auto pd-md pd-sd">
    <div class="row position-relative pd-md">
        <div class="bg-circle d-none d-md-block position-absolute" style="top: -10vh; right: -10vh;"></div>
        <div class="col-md-9 text-center mx-auto text-size-h6 text-orange sm-mt-10" style="margin-top: 20vh;">
            <h1 class="fw-bold letter-spacing mb-0 pb-0" style="margin-top:1vh;">Pengwyn BINC NFT Collections</h1>
            <h6 class="text-white mb-0" style="margin-top: 1vh; color: rgba(154, 154, 154, 1) !important;">Pengwyn BINC
                focuses on building a cross-chain
                management protocol where different NFTs have their own dedicated status and share power in the company
                architecture. These NFTs fall into three main NFT collections which are designed to create different
                roles and utilities for their holders.</h6>
        </div>
    </div>
    <div class="row " style="padding-top: 4vh;">
        <div class="col-md-10 mx-auto">
            <div class="row">
                <div class="col-md-4" style="margin-top: 2vh;">
                    <div class="box-1 sm-box-1 box">
                        <h6 class="m-0 text-center">Pengwyn OG</h6>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 2vh;">
                    <div class="box-1 sm-box-1 box">
                        <h6 class="m-0 text-center">Pengwyn Waddle</h6>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 2vh;">
                    <div class="box-1 sm-box-1 box">
                        <h6 class="m-0 text-center">Pengwyn Utility Digitals</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 mx-auto sm-mt-5" style="margin-top: 20vh;">
            <div class="row justify-content-between sm-pt-5">
                <div class="col-md-6 img-box position-relative">
                    <img src="assets/images/collection-img.gif" class="w-100 sm-mt-15" style="margin-top: -8vw;" alt="">
                    <div class="bg-sm-circle position-absolute d-block d-md-none" style="top: -20vh; right: 0"></div>
                </div>
                <div class="col-md-5 sm-mx-auto sm-t-center position-relative">
                    <h3 class="text-orange sm-mt-2">Pengwyn OG NFT Collection</h3>
                    <span class="text-secondary ">Pengwyn OG NFT Collection is the initial collection of Pengwyn
                        BINC and consists of 111 hand-drawn Pengwyn NFTs. <br><br>
                        The collection is categorized into three primary character pools: Members, Councilors, and the
                        Ultimate Pengwyn. These divisions represent distinct tiers within the Pengwyn Council,
                        functioning as both a prominent cult in the storyline and the board of directors in the company.
                        <br><br>
                        Pengwyn OG NFTs hold the most substantial share power per NFT in Pengwyn BINC and carry
                        significant roles and utilities within the ecosystem.</span>
                    <div class="bg-circle d-none d-md-block position-absolute" style="bottom: -15vh; left: -15vw;">
                    </div>
                    <div class="row" style="margin-top: 2vh;">
                        <div class="col-md-12">
                            <a href="https://craft.network/collection/pengwynog" target="_blank">
                                <button class="btn btn-Primary-Orange w-48 sm-text-3">View the collection</button>
                            </a>
                            <a href="https://pengwyn-binc.gitbook.io/pengwyn-binc-white-paper/pengwyn-binc-white-paper/assets/pengwyn-og-nft-collection" target="_blank">
                                <button class="btn btn-outline w-48 " style="margin-left: 2vh;">Learn more</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 mx-auto sm-mt-10" style="margin-top: 20vh;">
            <div class="row">
                <div class="col-md-4" style="margin-top: 2vh; padding-right: 1vw;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">Member Pengwyn NFTs</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">100</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Format</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">Cartoon</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.03%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 position-relative " style="margin-top: 2vh; padding-right: 1vw;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">Councilor Pengwyn NFTs</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">10</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Format</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">Enhanced cartoon</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.15%</span>
                        </div>
                    </div>
                    <div class="bg-circle d-none d-md-block position-absolute" style="top: 40vh; right: 20vh;"></div>
                </div>
                <div class="col-md-4 position-relative " style="margin-top: 2vh;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">The Ultimate Pengwyn NFT</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">1</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Format</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">Animated enhanced cartoon</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.50%</span>
                        </div>
                    </div>
                    <div class="bg-sm-circle position-absolute d-block d-md-none" style="bottom: 0; left: 0"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 mx-auto sm-mt-10" style="margin-top: 20vh;">
            <div class="row justify-content-between">
                <div class="col-md-6 img-box position-relative d-block d-md-none sm-mt-5">
                    <img src="assets/images/pengwynWaddle-img.svg" class="w-100 sm-mt--10" style="margin-top: -9vw;" alt="">
                </div>
                <div class="col-md-5 sm-mx-auto sm-t-center position-relative" style="padding-top: 3vh;">
                    <h3 class="text-orange">Pengwyn Waddle NFT Collection</h3>
                    <span class="text-secondary">Pengwyn Waddle NFT Collection consists of 10.000 generative Pengwyn
                        NFTs. The collection is subdivided into four equally supplied editions, with each edition
                        featuring distinct Pengwyn classes originating from four different universes. <br><br> To become
                        a
                        cross-chain development hub, each edition of the Pengwyn Waddle NFT Collection is strategically
                        designed to be minted on four distinct blockchains. Each edition sales serves as progressive
                        capital increments for the company.</span>
                    <div class="row" style="margin-top: 2vh;">
                        <div class="col-md-4">
                            <button class="btn btn-Primary-Orange w-100 sm-text-3" style="cursor: not-allowed !important;">Coming soon</button>
                        </div>
                        <div class="col-md-8 d-flex sm-m-top">
                            <button class="btn btn-outline sm-w-100" style=" margin-right: 1vw !important; cursor: not-allowed !important;">View the collection</button>
                            <a href="https://pengwyn-binc.gitbook.io/pengwyn-binc-white-paper/pengwyn-binc-white-paper/assets/pengwyn-waddle-nft-collection" target="_blank">
                                <button class="btn btn-outline sm-w-2">Learn more</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 img-box position-relative d-none d-md-block">
                    <img src="assets/images/pengwynWaddle-img.svg" class="w-100" style="margin-top: -9vw;" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-11 mx-auto sm-mt-5" style="margin-top: 20vh;">
            <div class="row position-relative">
                <div class="col-md-3 position-relative sm-mt-14" style="margin-top: 5vw;">
                    <div class="nft-box2 box">
                        <h5 class="m-0 text-center text-orange">1st</h5>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Class</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">Zombie</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">2,500</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.0025%</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Network</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">ICON Blockchain</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 position-relative sm-mt-14" style="margin-top: 5vw;">
                    <div class="nft-box2 box">
                        <h5 class="m-0 text-center text-orange">2nd</h5>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Class</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">TBA</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">2,500</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.0025%</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Network</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">TBA</span>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="col-md-3 position-relative sm-mt-14" style="margin-top: 5vw;">
                    <div class="nft-box2 box position-relative">
                        <h5 class="m-0 text-center text-orange">3rd </h5>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Class</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">TBA</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">2,500</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.0025%</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Network</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">TBA</span>
                        </div>
                    </div>
          
                </div>
                <div class="col-md-3 sm-mt-14" style="margin-top: 5vw;">
                    <div class="nft-box2 box">
                        <h5 class="m-0 text-center text-orange">4th</h5>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Class</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">TBA</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">2,500</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">0.0025%</span>
                        </div>
                        <div class="nft-rect2 d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Network</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">Ethereum Blockchain</span>
                        </div>
                    </div>
                 
                </div>
 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 mx-auto sm-mt-5" style="margin-top: 20vh;">
            <div class="row justify-content-between sm-pt-5">
                <div class="col-md-6 img-box position-relative">
                    <img src="assets/images/pengwynUtilityDigitals-img.svg" class="w-100 sm-mt--5" style="margin-top: -2vw;"
                        alt="">
                </div>
                <div class="col-md-5 sm-mx-auto sm-t-center position-relative" style="padding-top: 3vh;">
                    <div class="bg-circle d-none d-md-block position-absolute" style="top: -10vh; left: 0;"></div>
                    <h3 class="text-orange">Pengwyn Utility Digitals NFT Collection</h3>
                    <span class="text-secondary">Pengwyn Utility Digitals NFT Collection includes 3 main NFTs that have
                        the objective of delivering long-term benefits to their holders. The collection includes Pengwyn
                        OG Badge, Pengwyn Ambassador Badge and Pengwyn Waddle Royal Pass NFTs. <br><br> Each Pengwyn
                        Utility
                        Digital NFT grants specific discounts and free minting rights for upcoming Pengwyn BINC
                        collections.</span>
                    <div class="bg-circle d-none d-md-block position-absolute" style="bottom: -15vh; left: -15vw;">
                    </div>
                    <div class="row sm-m-top" style="margin-top: 5vh;">
                        <div class="col-md-8 d-flex">
                            <button class="btn btn-Primary-Orange sm-w-100 sm-text-3">Learn more</button>
                            <button class="btn btn-outline sm-w-100" style="margin-left: 2vh;">View the collection</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row position-relative">
        <div class="col-md-11 mx-auto sm-mt-5" style="margin-top: 20vh;">
            <div class="row">
                <div class="col-md-4" style="margin-top: 2vh; padding-right: 1vw;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">Pengwyn OG Badge</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">111</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">None</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 position-relative" style="margin-top: 2vh; padding-right: 1vw;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">Pengwyn Ambassador Badge</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">39</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">None</span>
                        </div>
                    </div>
                    <div class="bg-circle d-none d-md-block position-absolute" style="bottom: -40vh;"></div>
                    <div class="bg-circle d-none d-md-block position-absolute" style="bottom: -120vh; left: -70vh;">
                    </div>
                </div>
                <div class="col-md-4 position-relative" style="margin-top: 2vh;">
                    <div class="nft-box box">
                        <h6 class="m-0 text-center">Pengwyn Waddle Royal Pass</h6>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Supply</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">250</span>
                        </div>
                        <div class="nft-rect d-flex justify-content-between" style="margin-top: 3vh;">
                            <span>Share power per NFT</span>
                            <span class="text-orange" style="font-family: 'GilroyBold';">None</span>
                        </div>
                    </div>
                    <div class="bg-circle d-none d-md-block position-absolute" style="top: -10vh; right: -10vh;"></div>
                </div>
            </div>
        </div>
        <div class="bg-sm-circle position-absolute d-block d-md-none" style="bottom: -60vh; left: 10vh"></div>
    </div>
</div>