<div class="container-fluid">
    <!-- start Partners & Collaborations section -->
    <div class="row sm-pt-5" style="padding-top: 15vh;" *ngIf=" !isRarity && !isDetails">
        <div class="col-md-6 mx-auto">
            <h3 class="text-orange text-center">Partners & Collaborations</h3>
        </div>
        <div class="col-12 mx-auto d-none d-md-block" style="margin-top: 5vh;" id="footer-carousel">
            <div class="row d-none d-md-block" style="padding-top: 8vh;">
                <div class="col-9 mx-auto">
                    <div class="row justify-content-between position-relative">
                        <div class="col-2 circle">
                            <a href="https://alterdrop.co.uk/we-are-alter/" target="_blank">
                            <div class="inner-circle">
                                <img src="assets/images/partner-img-1.png" class="" style="height: 4vw;" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="col-2 circle">
                            <a href="https://nozomi.world/" target="_blank">
                            <div class="inner-circle">
                                <img src="assets/images/studio-mirai.webp" class="" style="height: 4vw;" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="col-2 circle ">  
                       
                                <div class="inner-circle">
                                    <a href="https://www.framd.art" target="_blank">
                                        <img src="assets/images/framd.png" class="" style="height: 7vw;" alt=""> 
                                    </a>
                                </div>
                          
                        </div>
                        <div class="col-2 circle">
                            <div class="inner-circle" style="cursor: auto !important;">
                                <img src="assets/images/partner-img-4.png" class="" style="height: 10vw;" alt="" onmouseover="this.src='assets/images/partner-img-4-hover.png'" onmouseout="this.src='assets/images/partner-img-4.png'">
                            </div>
                        </div>
                        <div class="line1 d-none d-md-block position-absolute"></div>
                        <div class="line2 d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-md-none position-relative mx-auto" style="padding-top: 5vh;">
            <div class="col-5 mx-auto capsule-outer position-relative">
                <div class="col-12 capsule-inner">
                    <img src="assets/images/partner-img-1.png" class="" style="height: 10vw;" alt="">
                </div>
                <div class="sm-line1 d-block d-md-none"></div>
            </div>
         
            <div class="col-5 position-relative mx-auto capsule-outer">
                <div class="col-12 capsule-inner">
                    <a href="https://nozomi.world/" target="_blank">
                            <img src="assets/images/studio-mirai.webp" class="" style="height: 15vw; padding:0; margin:0px;" alt="">
                        </a>
                </div>
                <div class="sm-line1 d-block d-md-none"></div>
            </div>
            <div class="col-5 position-relative mx-auto capsule-outer box">
                <div class="col-12 capsule-inner inner-circle-">
                    <a href="https://www.framd.art" target="_blank"
                            style=" font-weight: bolder !important;">
                                <img src="assets/images/framd.png" class="" style="height: 8vw;" alt=""> 
                     </a>
                </div>
                <div class="sm-line1 d-block d-md-none"></div>
            </div>
            <div class="col-5 position-relative mx-auto capsule-outer">
                <div class="col-12 capsule-inner">
                    <img src="assets/images/partner-img-4.png" class="" style="height: 20vw;" alt="">
                </div>
                <div class="sm-line1 d-block d-md-none"></div>
            </div> 
        </div>
    </div>
    <!-- end Partners & Collaborations section -->
    
    <!-- start footer section -->
    <div class="row position-relative" style="margin-top: 5vh;">
        <div class="col-12">
            <div class="bg-circle position-absolute d-none d-md-block" style=" top: -15vh; right: -10vh;"></div>
            <hr style="border: .2vh dashed rgba(244, 187, 3, 0.25);  margin-bottom: 4vh;">
            <div class="row justify-content-center">
                <div class="col-md-3 sm-text-center text-center">
                    <a class="navbar-brand text-white" href="/"><img src="assets/images/nav-logo.svg" style="height: 8vh;"
                            alt=""></a><br>
                    <small>The next generation gamified company which is 
                        designed to be owned and managed by the Pengwyns fully on blockchain.</small><br>
                        <div class="d-none d-md-block align-items-center mx-auto">
                            <div class="col-12 d-flex justify-content-between" style="margin-top: 6vh;">
                                <a href="https://discord.gg/7sGUpWdxfE" target="_blank" style="text-decoration: none;"> <img src="assets/images/footer-discode-icon.svg" style="height: 6vh;" class="pointer" alt=""> </a>
                                <img src="assets/images/footer-send-icon.svg" style="height: 6vh; cursor: not-allowed !important;" class="pointer" alt="">
                                <a href="https://medium.com/@PengwynBINC" target="_blank"> <img src="assets/images/footer-icon.svg" style="height: 6vh;" class="pointer" alt=""></a>
                                <a href="https://twitter.com/pengwyn_binc" target="_blank">  <img src="assets/images/footer-twitter-icon.svg" style="height: 6vh;" class="pointer" alt=""></a>
                            </div>
                        </div>
                    <div class="d-block d-md-none">
                        <div class="col-8 mx-auto d-flex justify-content-between" style="margin-top: 6vh;">
                            <a href="https://discord.gg/7sGUpWdxfE" target="_blank" style="text-decoration: none;"> <img src="assets/images/footer-discode-icon.svg" style="height: 6vh;" class="pointer" alt=""> </a>
                            <img src="assets/images/footer-send-icon.svg" style="height: 6vh;" class="pointer" alt="">
                            <a href="https://medium.com/@PengwynBINC" target="_blank"> <img src="assets/images/footer-icon.svg" style="height: 6vh;" class="pointer" alt=""> </a>
                            <a href="https://twitter.com/pengwyn_binc" target="_blank"><img src="assets/images/footer-twitter-icon.svg" style="height: 6vh;" class="pointer" alt=""> </a>
                        </div>
                    </div>
                </div>
               
            </div>
            <hr style="border: .2vh dashed rgba(244, 187, 3, 0.25); margin-top: 4vh;">
        </div>
    </div>
    <div class="row position-relative" style="margin-top: 2vh;">
        <div class="row justify-content-center mx-auto">
            <div class="col-md-4 sm-text-center text-center">
                    <small>© 2023 Pengwyn, All rights reserved.</small>
                </div>  
        </div>
    </div>
</div>