.box1 {
  border-radius: .7vw;
  padding: 1vw;
  background-color: rgba(147, 147, 147, 0.1);
  z-index: 999999 !important;
  border: 1px solid rgba(147, 147, 147, 0.10);
}

.box2 {
  border-radius: .7vw;
  background-color: rgba(147, 147, 147, 0.1);
  z-index: 999999 !important;
  border: 1px solid rgba(147, 147, 147, 0.10);
}

.box3 {
  border-radius: .7vw;
  background-color: rgba(147, 147, 147, 0.1);
  z-index: 999999 !important;
  padding: 2vh;
  border: 1px solid rgba(147, 147, 147, 0.10);
}

.box4 {
  border-radius: .7vw;
  background-color: rgba(147, 147, 147, 0.1);
  z-index: 999999 !important;
  padding: 2vh;
  border: 1px solid rgba(147, 147, 147, 0.10);
}

.rect {
  border-radius: .7vw;
  background-color: rgb(0, 0, 0);
  padding: 2vh 2vh;
  z-index: 999999 !important;
  border: 1px solid rgba(147, 147, 147, 0.10);

}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  background-color: #030304;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(244, 187, 3, 0.25);
}

.accordion-item {
  background-color: #030304;
  border: none;
}

td:first-child {
  border-radius: 1.5vh 0 0 1.5vh;
  border: 1px solid rgba(147, 147, 147, 0.1);
  border-right: 0;
  background: rgba(129, 129, 129, 0.1);
}

td:last-child {
  border-radius: 0 1.5vh 1.5vh 0;
  border: 1px solid rgba(147, 147, 147, 0.1);
  border-left: 0;
  background: rgba(129, 129, 129, 0.1);
  padding: 2vh 3vh !important;
  color: white;
}

td {
  border-style: none;
  border-top: 1px solid rgba(147, 147, 147, 0.1);
  border-bottom: 1px solid rgba(147, 147, 147, 0.1);
  background: rgba(129, 129, 129, 0.1);
  color: white;
  padding: 1vh 2vh !important;
}

table>thead:not(caption)>*>* {
  border-bottom-width: 0;
  background-color: #000000 !important;
  color: rgba(154, 154, 154, 1) !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 2vh;
}

.col-12 img:hover {
  filter: brightness(100%) hue-rotate(0deg) sepia(100%) saturate(500%);
  /* Change the brightness to your desired value */
  cursor: pointer;
}

.box5 {
  border-radius: 2vw;
  background-color: rgba(147, 147, 147, 0.1);
  z-index: 999999 !important;
  border: 1px solid rgba(147, 147, 147, 0.10);
}

element.style {
  margin-left: 1vh;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-outline {
  color: var(--primary-orange);
  border-radius: 0.6vw;
  border: 0.14vw solid var(--primary-orange);
  font-size: 0.8vw;
  padding: 0.5vw 1vw;
  font-family: 'Gilroy';
  font-weight: 600;
}

.box5>div span {
  font-size: 3vw !important;
  color: rgba(154, 154, 154, 1);
}

.box5>div h6 {
  font-size: 3.5vw !important;
}

@media (width < 822px) {
  .text-center>h5 {
    font-size: 5vw !important;
  }

  .d-flex>h4 {
    font-size: 6vw !important;
    padding: 3vw !important;
  }

  .sm-pt-8vh {
    padding-top: 8vh !important;
  }

  .rect>span {
    font-size: 3vw !important;
  }

  .box1 {
    border-radius: 2vw;
    padding: 3vw;
    background-color: rgba(147, 147, 147, 0.1);
    z-index: 999999 !important;
    border: 1px solid rgba(147, 147, 147, 0.10);
  }

  .sm-img-h20 {
    border-radius: 8vW !important;
    border: 1px solid rgba(244, 187, 3, 0.25) !important;
    padding: 1vh !important;
    height: 4.5vh !important;
    width: 7.5vw !important;
  }

  .box3>div small {
    font-size: 4vw !important;
  }

  .box3>div h6 {
    font-size: 5vw !important;
  }

  .sm-h-img {
    height: 75vw !important;
  }

  .box2 {
    border-radius: 2vw;
    background-color: rgba(147, 147, 147, 0.1);
    z-index: 999999 !important;
    border: 1px solid rgba(147, 147, 147, 0.10);
  }

  .box3 {
    border-radius: 2vw;
    background-color: rgba(147, 147, 147, 0.1);
    z-index: 999999 !important;
    padding: 2vh;
  }

  .sm-p-3{
    padding: 1vh !important;
  }

  .box5 {
    border-radius: 2vw;
    background-color: rgba(147, 147, 147, 0.1);
    z-index: 999999 !important;
  }

  .rect {
    border-radius: 2vw;
    background-color: rgb(0, 0, 0);
    padding: 2vh 2vh;
    z-index: 999999 !important;
    border: 1px solid rgba(147, 147, 147, 0.10);

  }
}